# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

#temp
/src/services
/src/utils
/src/components/movies.jsx
/src/components/moviesTable.jsx
/src/components/reusable/listGroup.jsx
/src/components/reusable/paginate.jsx
/src/components/reusable/tableHeader.jsx
/src/components/reusable/THIS_behavior.jsx
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
